<!DOCTYPE html>
<html ng-app>
<head>
  <title>#MADlibs</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
      <link rel= "stylesheet" href="css/styles.css">
</head>
<body>

  <form>
    Subject <input ng-model="subject" placeholder="person/place/thing"></input> <br />
    vegetable: <input ng-model="vegetable" placeholder="vegetable"></input> <br />
   
    Action: <input ng-model="action" placeholder="action-pasttense"></input> <br />
    Feeling: <input ng-model="feeling" placeholder="noun-emotion"></input> <br />
   Book: <input ng-model="book" placeholder="book-title"></input> <br />
    Place: <input ng-model="place" placeholder="place"></input> <br />
    Object: <input ng-model="object" placeholder="object"></input> <br />
    verb: <input ng-model="verb" placeholder="verb"></input> <br />
    Apperance: <input ng-model="adj" placeholder="adj"></input> <br />
   Form of Punishment: <input ng-model="punishment" placeholder="punishment"></input> <br />
    Noun: <input ng-model="noun" placeholder="noun"></input> <br />

    
  </form>

  <h3><font color="red">How  {{subject}}s and {{vegetable}}s relationship ended</font> BY <i>Tejasvi Kalakota</i></h3>
  <p>It was love at first sight when {{ subject }} found {{ vegetable }} on the plate. {{subject}} {{action}} at  {{ vegetable }}. {{ vegetable }} felt {{feeling}} toward {{subject}}. Everyday after {{subject}} saw {{vegetable}} he read her the classy novel {{book}}.They spent long days in {{place}}. Until one day {{vegetable}} started to ripen and grow old. {{subject}} began to start to dislike the way of her looks, for he planned to eat her before she got rotten. So he decided to beat {{vegetable}} with a {{object}}. {{vegetable}} tried to {{verb}} herself. But at this point {{vegetable}} looked {{adj}}. The cops later charged {{ subject }} with {{punishment}} for {{noun}}.
  THE END    </p>

</body>
</html>